body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}
button {
  cursor: pointer;
}
textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}
